<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" /></head>
<body>

  <div class="status-bar">
    <span class= status-bar_webname>UGRP_WebBoard</span>
   
    <div class="status-bar_column">
      <input
      type="button"
      class="btn"
      onclick=" location.href='/logout'"
      value="LOGOUT"
    /> 
      <i class="fas fa-user"></i>
      <i class="fas fa-cog"></i>
    </div>
  </div>
<div class= mainbody>
  <div class=header>
    <h1 class="header_title">일반공지</span>
    <input
    type="button"
    class="header_btn_write"
    onclick=" location.href='/posting/write'"
    value="WRITE"
    />
  </div>


  <div class=Board>
    <div class=Board_dataname>
      <text class=postingnum>글번호</text>
      <text class=postingtitle>제목</text>
      <text class=postingwriter>작성자</text>
      <text class=postinghits>조회수</text>
      <text class=postingdate>작성일</text>
    </div>
    <%boarddata.forEach(function(element) {%>
    <div class=Board_data>
      <text class=postingnum><%=num%></text>
      <%num -= 1%>
      <a href="/posting/<%=element.id%>" class=postingtitle><%=element.title%></a>
      <text class=postingwriter><%=element.writer%></text>
      <text class=postinghits><%=element.hits%></text>
      <text class=postingdate><%=element.showdate%></text>
    </div>
    <% });%>
  </div>
</div>
</body>
</html>
  