<div id="wrap">
    <h1 class="title">Hello!, <%=message%></span>
      <div>
        <text>here is our ugrp page </text>
      </div>
    <div class="user">
      <input
        type="button"
        class="btn"
        onclick=" location.href='/logout'"
        value="LOGOUT"
      /> 
      <input
      type="button"
      class="btn"
      onclick=" location.href='/write'"
      value="WRITE"
      />

    </div>
    <div>
      <%boarddata.forEach(function(element) {%>
      <div>
        <form action="/home" method="POST" class="postform"></form>
        <text><%=element.writer%></text>
          <a href="/post/<%=element.id%>"><%=element.title%></a>
       
      
      <text><%=element.createdAt%></text> </form>
      </div>
      <% });%>

    </div>
  </div>
  