<body>
  <header class="header">
    <h1 class="header__title"><%=postdata.title%></h1>
    <div>Writer: <%=postdata.writer%></div>
    <div>Date: <%=postdata.createdAt%></div>
    <div><%=postdata.body%></div>
  </header>

  <div>
    <%if(usinguser==postdata.writer){%>
    <form action="/posting/<%=postdata._id%>/edit" method="GET" class="B_Edit">
      <button class="btnedit">EDIT</button>
    </form>

    <button>
      <form
        action="/posting/<%=postdata._id%>/?_method=delete"
        method="POST"
        class="B_DEL"
      >
        <a
          href="#"
          onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;"
          >Del</a
        >
      </form>
    </button>

    <%}%>
  </div>

  <div>
    <form
      action="/posting/<%=postdata._id%>/comment"
      method="POST"
      class="commentform"
    >
      <label for="comment">Write Commnet</label>
      <input name="comment" type="comment" required />
      <button class="btn">enter</button>

      <%commentdata.forEach(function(celement) {%>
    </form>
    <div>
      <text><%=celement.writer%></text>
      <text><%=celement.body%></text>
      <text><%=celement.createdAt%></text>
      <%if(usinguser==celement.writer){%>
      <button>
        <form
          action="/posting/<%=postdata._id%>/comment/<%=celement._id%>/?_method=delete"
          method="POST"
          class="comment_del"
        >
          <a
            href="#"
            onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;"
            >Delete</a
          >
        </form>
      </button>
      <%}%>
    </div>
    <% });%>
  </div>

  <div>
    <input
      type="button"
      class="btn"
      onclick=" location.href='/home'"
      value="BACK"
    />
  </div>
</body>
